[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
long_query_time=0

[client]
default-character-set=utf8mb4
